@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="mvcCRUDCtrl">
    <div class="divList">
        <p><b><i>Angular Note</i></b></p>
        <table class="table table-hover">
            <tr>
                <td><b>ID</b></td>
                <td><b>Crypto Text</b></td>
                <td><b>Date</b></td>
            </tr>
            <tr ng-repeat="note in notes">
                <td>
                    {{note.ID}}
                </td>
                <td>
                    {{note.EncryptedText}}
                </td>
                <td>
                    {{note.Date}}
                </td>
                <td>
                    <span ng-click="editNote(note)" class="btn btn-primary">Изменить</span>
                    <span ng-click="deleteNote(note)" class="btn btn-danger">Удалить</span>
                </td>
            </tr>
        </table> 
    </div>
    <span ng-click="AddNoteDiv()" class="btn btn-default">
        Добавить запись
    </span>
    <div ng-show="divNote">
        <p class="divHead"></p>
        <table class="table">
            <tr>
                <td><b><i>{{Action}} запись</i></b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Id</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="noteId" />
                </td>
                <td><b>Date</b></td>
                <td>
                    <input type="datetime" ng-model="noteDate" />
                </td>
                <td><b>Encrypted Text</b></td>
                <td>
                    <input type="text" ng-model="noteEncryptedText" />
                </td>
                <td></td>
                <td>
                    <input type="button" class="btn btn-default" value="Сохранить" ng-click="AddUpdateNote()" />
                    <input type="button" class="btn btn-danger" value="Отмена" ng-click="Cancel()" />
                </td>
            </tr>
        </table>
    </div>
</div>