<div class="container">
    <h1>Task detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputTaskDescription">Input text:</label>

            <div class="controls">
                <input type="hidden" id="inputTaskId" ng-model="task.Id" />
                <input type="text" id="inputTaskDescription" ng-model="task.EncryptedText"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateTask(task.Id, task.EncryptedText)" class="btn btn-small btn-primary">Update</a>
            </div>
        </div>
    </form>
</div>
