<div class="container-fluid">
    <div ng-controller="notesListController">
        <!-- Строка над таблицей -->
        <div class="row">
            <!-- Пагинатор -->
            <div class="col-md-3">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                        Предыдущая
                    </button>
                    <button class="btn btn-default btn-sm" ng-disabled="true">
                        {{currentPage+1}}/{{numberOfPages()}}
                    </button>
                    <button class="btn btn-default btn-sm" ng-disabled="currentPage >= filteredNotes.length/numPerPage - 1" ng-click="currentPage=currentPage+1">
                        Следующая
                    </button>
                </div>
            </div>
            <!-- Поиск -->
            <div class="col-md-7">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <div class="inner-addon right-addon enjoy-cssx">
                            <i class="glyphicon glyphicon-search"></i>
                            <input ng-model="query" type="text" placeholder="Поиск по записям" class="form-control enjoy-css" />
                        </div>
                    </div>
                </form>
            </div>
            <!-- Кнопка добавления -->
            <div class="col-md-2">
                <button class="btn btn-success col-md-12" ng-click="addNote()">Добавить запись</button>
            </div>
        </div>
        <!-- Таблица -->
        <table class="table table-striped table-hover col-md-12">
            <thead>
                <tr>
                    <th ng-click="sortBy('created')">Дата создания</th>
                    <th ng-click="sortBy('changed')">Дата изменения</th>
                    <th ng-click="sortBy('title')">Заголовок записи</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- filteredNotes имеет список после сортировки и поиска (из него получаем общее число элементов, необходимых для того, чтобы посчитать количество страниц для пагинатора) -->
                <!-- filteredNotes2 - список после пагинации -->
                <tr ng-repeat="note in filteredNotes2 = ( (filteredNotes = (notes | orderObjectBy:sortField:reverseOrder:query )) | startFrom:currentPage*numPerPage | limitTo:numPerPage) ">
                    <td>{{convertUTCDateToLocalDate(note.created) | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                    <td>{{convertUTCDateToLocalDate(note.changed) | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                    <td>{{note.title}}</td>
                    <td><button class="btn btn-success" ng-click="editNote(note.id)">Изменить</button></td>
                    <td><button class="btn btn-danger" ng-click="deleteNote(note.id)">Удалить</button></td>
                </tr>
            </tbody>
        </table>
        <!--Filtered list has {{filteredNotes.length}} items-->
    </div>
</div>